@font-face {
  font-family: "Open Sans";
  src: url(../font/OpenSans-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: #eaeaea;
}

.container {
  margin: 10px;
}

.header {
  background-color: #212429;
  color: white;
  height: 250px;
  display: flex;
  flex-direction: row;
  place-content: center space-between;
  place-items: center;
  font-size: 1.5em;
  padding: 4em;
  box-sizing: border-box;
}

.name.anim {
  animation: fadeOut 5s forwards;
}

.identity.anim,
.address.anim {
  animation: Wheel 2s forwards;
}

.photo.anim {
  animation: rotate 4s forwards;
}

.photo img {
  border-radius: 50%;
  border: 5px solid rgba(250, 250, 250, 0.7);
  transform: scale(0.8);
}

.content {
  display: flex;
}

.content-left,
.content-right {
  background-color: #fff;
  width: 50%;
  display: flex;
  flex-direction: column;
  place-content: center top;
  place-items: left;
  padding: 2em;
  text-align: justify;
}

.section {
  margin-bottom: 2em;
}

.section h2 {
  text-transform: uppercase;
}

.button {
  background-color: blue;
  color: white;
  padding: 1em;
  margin-top: 10px;
  box-shadow: 1px 1px 5px black;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes Wheel {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;

    transform: translateY(0);
  }
}
