@font-face {
  font-family: "Open Sans";
  src: url(../font/OpenSans-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: #ddd;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
  font-size: 14px;
}

.header {
  background-color: darkblue;
  color: lightblue;
  display: flex;
  place-items: center;
  border-radius: 15px 15px 0 0;
  flex-wrap: wrap;
}

.heading {
  flex: 1;
  box-sizing: border-box;
  text-shadow: 0 1px 3px black;
}

.heading.title {
  margin-left: 50px;
}

.heading.image {
  margin: 10px 50px 10px;
}

.image img {
  width: 100%;
  border-radius: 50%;
  border: 3px solid lightblue;
  box-shadow: 0 3px 5px black;
}

/* Content */
.content {
  display: flex;
  justify-content: space-evenly;
  line-height: 1.5;
  text-align: justify;
  background-color: #fff;
}

.side {
  width: 45%;
  padding-top: 30px;
}

.state {
  font-weight: 900;
  color: darkblue;
}

.study {
  font-weight: 600;
}

.focus {
  font-weight: 200;
}

section {
  margin-bottom: 30px;
}
