@font-face {
  font-family: "Open Sans";
  src: url(../font/OpenSans-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: #ddd;
}

.containter {
  max-width: 1000px;
  background-color: white;
}

.header {
  max-width: 1000px;
  background-color: darkblue;
  color: lightblue;
  margin: 50px auto;
  display: flex;
  place-items: center;
  border-radius: 15px 15px 0 0;
}

.heading {
  flex: 1;
  box-sizing: border-box;
  font-size: 14px;
  text-shadow: 0 1px 3px black;
}

.heading.title {
  font-size: 18px;
  margin-left: 50px;
}

.heading.image {
  margin: 10px 50px 10px;
}

.image img {
  width: 100%;
  border-radius: 50%;
  border: 3px solid lightblue;
  box-shadow: 0 3px 5px black;
}
