@font-face {
  font-family: "Open Sans";
  src: url(../font/OpenSans-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: #212429;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.container {
  margin: 50px;
}

.header {
  display: grid;
  grid-template-areas: "profile heading about";
  gap: 50px;
}

.profile {
  grid-area: "profile";
  max-width: 250px;
}

.profile img {
  border-radius: 50%;
  border: 3px solid rgba(200, 200, 200, 0.5);
  place-content: center;
}

.heading {
  grid-area: "heading";
}

.about {
  grid-area: "about";
  width: 600px;
}
