@font-face {
  font-family: "Open Sans";
  src: url(../font/OpenSans-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: #212429;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.container {
  margin: 50px;
}

.header {
  display: grid;
  grid-template-areas: "photo profile profile about about about";
}

.photo {
  width: 250px;
  height: 250px;
  grid-area: "photo";
  background-image: url(../img/profile.png);
  border-radius: 50%;
  border: 5px solid #eaeaea;
}

.profile {
  height: 250px;
  grid-area: "profile";
}

.about {
  height: 250px;
  grid-area: "about";
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 10px;
}

.content {
  flex-direction: row;
}
